body {
  background-color:#222;
}

#main{
  margin: 0 auto;
  width : 600px;
}

#stroke_input {
  margin: 0 auto;
  background-color:#3b3b3b;
  cursor: pointer;
}

#suggestions {
  height:100px;
  display:block;
  font-size:60px;
}

#wordsOut {
  width:500px;
  height:100px;
  padding:5px;
  font-size:26px;
}

.sugItem {
  display:block;
  float:left;
  cursor: pointer;
}

.sugItem:hover {
  background:white;
}
